body {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.info-board {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.title {
  color: #FAFAFA;
  font-size: 30px;
  font-weight: 600;
}

.next-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle {
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.next-board {
  height: 120px;
  width: 180px;
  background-color: #393939;
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  background-color: #393939;
}

.reset-button {
  background-color: #D94549;
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s ease;
  margin-top: auto;
  &:hover {
    background-color: #A64548;
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
  }
}

.piece {
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, #FAFAFA 1px, transparent 1px),
    linear-gradient(to bottom, #fafafa 1px, transparent 1px);
  border: 1px solid #000;
}

.t-row {
  display: flex;
}

.t-board {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}

.t-cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grey;
}

.t-cell-0 {
  background-color: #393939;
  border: 1px solid grey;
}

.t-cell-1 {
  background-color: #00d;
  border-bottom: 1px solid #00f;
  border-right: 1px solid #00f;
  border-top: 1px solid #00b;
  border-left: 1px solid #00b;
}

.t-cell-2 {
  background-color: green;
}

.t-cell-3 {
  background-color: red;
}

.t-score-label {
  font-weight: bold;
}

.t-score-label {
  font-weight: bold;
}

.t-parent {
  display: flex;
}

element.style {
  width: 44px;
  left: 0px;
}